{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container d-flex flex-column justify-content-center align-items-center">
    <div class="mt-5">
        <div>
            <h3 class="mb-4 text-center text-decoration-underline">{% trans "Sign In" %}</h3>

            <p>{% blocktrans %}Welcome back to Kuidaore.{% endblocktrans %}</p>
        </div>
    </div>
    <div class="my-5 ">
        <div class="">
            <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}

                <div class="d-flex align-items-center my-5">
                    <button class="btn btn-signup right btn-light me-3" type="submit"><strong>{% trans "Sign In" %}</strong></button>
                    <span>OR</span>
                    <a class="btn text-dark bg-secondary ms-3" href="{{ signup_url }}"><strong>Sign-Up</strong></a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
