{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block content %}
<div class="d-flex flex-column align-items-center">

  <h1 class="my-5 fs-2 text-decoration-underline">{% trans "Sign Up" %}</h1>
  
  <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="d-flex align-items-center my-5 ">
      <button class="btn btn-signup right btn-light me-5" type="submit"><strong>{% trans "Sign Up" %}</strong></button>
      <p class="ms-5">{% blocktrans %}Already have an account?<a class="btn bg-secondary text-dark ms-3" href="{{ login_url }}"><strong>Sign In</strong></a>{% endblocktrans %}</p>
    </div>
  </form>
</div>

<div class="empty-space"></div>
{% endblock content %}
