{% extends 'base.html' %}
{% load static %}

{% block title %}FAQ's{% endblock %}

{% block content %}
<h2 class="text-center my-5 fs-1">FAQ's</h2>

<div class="accordion accordion-flush" id="accordionFlush">
    <div class="accordion-item bg-transparent">
        <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button bg-transparent collapsed text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Do you offer private dining or chef's table experiences?
        </button>
        </h2>

        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><strong>Yes, we offer exclusive private dining rooms and a highly curated chef's table experience. At the chef’s table, our head sushi chef prepares a personalized Omakase menu for you and your guests, allowing you to savor each course as it’s crafted. For private dining, please contact us in advance to secure availability and discuss any special requests.</strong></div>
        </div>
    </div>

    <div class="accordion-item bg-transparent">
        <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed bg-transparent text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Do you have vegetarian or vegan sushi options?
        </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><strong>Yes, we offer a carefully curated selection of vegetarian and vegan sushi options. Our chefs use premium seasonal vegetables, tofu, and other plant-based ingredients to create flavorful and visually stunning dishes that align with our high standards of quality. Please let us know of any dietary preferences when booking, and we will gladly accommodate.</strong></div>
        </div>
    </div>

    <div class="accordion-item bg-transparent">
        <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed bg-transparent text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Is your seafood sustainably sourced?
        </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><strong>Yes, sustainability is a key priority for us. We work with trusted suppliers who provide sustainably sourced fish, ensuring that our ingredients are both of the highest quality and responsibly obtained. Our commitment to sustainability extends to supporting sustainable fisheries and ethical practices in the seafood industry.</strong></div>
        </div>
    </div>

    <div class="accordion-item bg-transparent">
        <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed bg-transparent text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Is there a dress code for dining?
        </button>
        </h2>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><strong>Yes, we maintain a smart-casual dress code to enhance the sophisticated atmosphere of our restaurant. We ask guests to refrain from wearing sportswear, flip-flops, or overly casual attire. For special events or dining at the chef's table, we recommend business casual or semi-formal wear.</strong></div>
        </div>
    </div>

    <div class="accordion-item bg-transparent">
        <h2 class="accordion-header" id="flush-headingFive">
        <button class="accordion-button collapsed bg-transparent text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Do you offer an Omakase experience?
        </button>
        </h2>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlush">
            <div class="accordion-body"><strong>Absolutely. Our Omakase experience is a highlight, where our sushi chef crafts a tailored menu based on the freshest, seasonal ingredients available that day. It is an immersive dining experience designed to showcase the chef's expertise and the finest ingredients.</strong></div>
        </div>
    </div>

    <div class="accordion-item bg-transparent">
        <h2 class="accordion-header" id="flush-headingSix">
        <button class="accordion-button collapsed bg-transparent text-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            How far in advance should I make a reservation?
        </button>
        </h2>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlush">
            <div class="accordion-body "><strong>We recommend making reservations at least 1-2 weeks in advance, particularly for weekends or special occasions, as our seating is limited, and our dining experiences are highly sought after. For the chef's table or private dining, earlier booking is advised to ensure availability.</strong></div>
        </div>
    </div>
</div>

<hr class="w-50 my-5">

<div class="d-flex justify-content-center mt-5">
    <a class="nav-link btn btn-light btn-lg text-dark px-5" href="{% url 'contact' %}"><strong>CONTACT US</strong></a>
</div>

<div class="empty-space"></div>
{% endblock %}