{% extends 'base.html' %}
{% load static %}

{% block title %}Luxury Sushi Dining, Malibu, California{% endblock %}

{% block content %}
<main>
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
    </div>

    <div class="container justify-content-center">
        <div class="row">
            <div class="col">
                <h2>MENU</h2>
                <p>Browse our signature dishes and Omakase options, including fresh sashimi and unique rolls crafted by Chef Hiroshi Tanaka.</p>
                <button type="button" class="btn btn-primary btn-lg">VIEW MENU</button>            </div>
            <div class="col">
                <h2>RESERVATIONS</h2>
                <p>Book your table to enoy a memorable dining experience with ur exquisite sushi and exceptional service.</p>
                <button type="button" class="btn btn-primary btn-lg">MAKE A RESERVATION</button>            </div>
            <div class="col">
                <h2>CONTACT</h2>
                <p>COntact us for questions, or assistance. Our team is here to help ensure a wonderful experience.</p>
                <button type="button" class="btn btn-primary btn-lg">CONTACT US</button>            </div>
        </div>
    </div>

    <img src="../../../documentation/images/landing-page.webp" class="img-fluid" alt="...">

    <h3><span id="jacques-francois-shadow-regular">K</span>UIDAORE</h3>

    <div>
        <p></p>
        <form action="POST"></form>
    </div>

</main>
{% endblock %}