{% extends 'base.html' %}
{% load static %}

{% block title %}Luxury Sushi Dining, Malibu, California{% endblock %}

{% block content %}
<div class="container-fluid">
    <div id="carouselHeroFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
            <img src="../../../static/images/sushi-rice.webp" id="img-sushi-rice" class="img-sushi-rice img-fluid" alt="image of sushi wrapped in seaweed">
        </div>
        <div class="carousel-item">
            <img src="../../../static/images/sushi-nigiri.webp" id="img-sushi-nigiri" class="d-block w-100 img-fluid" alt="image of nigiri sushi">
        </div>
        <div class="carousel-item">
            <img src="../../../static/images/sushi-rolls-2.webp" id="img-sushi-rolls2" class="d-block w-100 img-fluid" alt="image of a sushi roll">
        </div>
        <div class="carousel-item">
            <img src="../../../static/images/sushi-platter.webp" id="img-sushi-platter" class="d-block w-100 img-fluid" alt="image of multiple sushi on a plate">
        </div>
        <div class="carousel-item">
            <img src="../../../static/images/sushi-dish.webp" id="img-sushi-dish" class="d-block w-100 img-fluid" alt="image of a sushi dish">
        </div>
        <div class="carousel-item">
            <img src="../../../static/images/sushi-rolls-1.webp" id="img-sushi-rolls1" class="d-block w-100 img-fluid" alt="image of a sushi roll">
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselHeroFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselHeroFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>

<div class="empty-space"></div>

<hr>

<div class="empty-space"></div>

<div class="container">
    <div class="row mx-auto text-center">
        <div class="col">
            <h2 class="mb-5 fs-4"><strong>MENU</strong></h2>
            <p class="mb-5">Browse our signature dishes and Omakase options, including fresh sashimi and unique rolls.</p>
            <a class="nav-link btn btn-light btn-lg text-dark" href="{% url 'menu' %}"><strong>VIEW MENU</strong></a>
        </div>
        <div class="col">
            <h2 class="mb-5 fs-4"><strong>RESERVATIONS</strong></h2>
            <p class="mb-5">Reserve your unforgettable dining experience with exquisite sushi and exceptional service.</p>
            <a class="nav-link btn btn-light btn-lg text-dark" href="{% url 'reservation' %}"><strong>RESERVATIONS</strong></a>
        </div>
        <div class="col">
            <h2 class="mb-5 fs-4"><strong>CONTACT</strong></h2>
            <p class="mb-5">Contact us for questions, or assistance. Our team is here to help ensure a wonderful experience.</p>
            <a class="nav-link btn btn-light btn-lg text-dark" href="{% url 'contact' %}"><strong>CONTACT US</strong></a>
        </div>
    </div>
</div>

<div class="empty-space"></div>

<hr>

<div class="empty-space"></div>

<div id="restaurant-img-container">
    <img src="../../../static/images/sushi-restaurant.webp" class="d-block img-fluid mx-auto" alt="image of the sushi restaurant"> 
</div>

<div class="empty-space"></div>
{% endblock %}