{% extends 'base.html' %}
{% load static %}

{% block title %}Contact us{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mt-5 fs-1">CONTACT</h2>
    <p class="mt-5">2837 Ocean Breeze Drive Malibu, CA 90265</p>
    <a href="tel:+1 (310) 555-7289" class="text-light mt-2">+1 (310) 555-7289</a>
</div>

<hr class="mt-5">

<div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mt-5 fs-4">PARKING AVAILABILITY</h2>
    <p class="mt-3 mb-5">Valet parking is available at the lot behind our restaurant.</p>
</div>

<hr class="mt-5">

<div class="mt-5 d-flex align-items-center">
    <button type="button" class="btn text-light btn-sm p-3 fs-5 border-light border-3 mt-5 mx-auto" data-bs-toggle="modal" data-bs-target="#feedbackModal"><strong>FEEDBACK FORM</strong></button>
</div>

<div class="empty-space"></div>

<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="KUIDAORE" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-dark jacques-francois-regular mx-auto" id="feedbackModalLabel"><span class="jacques-francois-shadow-regular fs-2">K</span>UIDAORE</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body text-dark">
                <h2 class="text-center fs-2 margin-top h2-margin-btm">Write a review</h2>

                <form id="reviewForm" method="POST">
                    {% csrf_token %}
                    {{ review_form.as_p }}
                    <!-- <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingEmail" placeholder="name@example.com" autocomplete="email" required>
                        <label for="floatingEmail">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingName" placeholder="Name" required>
                        <label for="floatingName">Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingSubject" placeholder="Subject" required>
                        <label for="floatingSubject">Subject</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="floatingFeedbacktext" style="height: 200px" placeholder="Write your review here" required></textarea>
                        <label for="floatingFeedbackText">Write your review here</label>
                    </div>
                     -->
                    <button type="submit" class="btn btn-dark fs-5" data-bs-dismiss="modal"><strong>Send Feedback</strong></button>
                </form>
            </div>
        </div>
    </div>
</div>



<div class="alert alert-success alert-dismissible d-inline-flex fade show" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>    
    <p>
        Your review was successfully sent, Thank you!
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

{% endblock %}