{% extends 'base.html' %}
{% load static %}

{% block title %}Contact us{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mt-5 fs-1">CONTACT</h2>
    <p class="mt-5">2837 Ocean Breeze Drive Malibu, CA 90265</p>
    <a href="tel:+1(310)5557289" class="text-light mt-2">+1 (310) 555-7289</a>
</div>

<hr class="mt-5">

<div class="d-flex flex-column align-items-center mt-5">
    <h2 class="mt-5 fs-4">PARKING AVAILABILITY</h2>
    <p class="mt-3 mb-5 mq-contact-text-width text-center">Valet parking is available at the lot behind our restaurant.</p>
</div>

<hr class="mt-5">

<div class="mt-5 d-flex justify-content-center">
    {% if user.is_authenticated %}
    <a href="{% url 'submit_review' %}" class="btn text-light btn-sm p-3 fs-5 border-light border-3 mt-5 mx-auto"><strong>LEAVE A REVIEW</strong></a>
    {% else %}
    <div class="d-flex flex-column">
        <p class="mt-3 text-warning">You must be logged in to leave a review.</p>
        <a href="{% url 'submit_review' %}" class="btn disabled text-light btn-sm p-3 fs-5 border-light border-3 mt-3 mx-auto"><strong>LEAVE A REVIEW</strong></a>
    </div>
    {% endif %}
</div>

<div class="empty-space"></div>
{% endblock %}