{% extends 'base.html' %}
{% load static %}

{% block title %}View your reservations{% endblock %}

{% block content %}
<h2 class="text-center fs-4 my-5">Your Reservations</h2>
<ul class="text-info">
    {% for reservation in reservations %}
        <li>
            <p>You have a reservation at {{ reservation.reservation_time }} on {{ reservation.reservation_date }} for {{ reservation.number_of_guests }}</p>
            <div class="d-flex">
                <a class="btn btn-light" href="{% url 'reservationUpdate' reservation.id %}">Update</a>
                <a class="btn btn-light" href="{% url 'reservationRemove' reservation.id %}">Delete</a>
            </div>
        </li>
    {% empty %}
    <div class="d-flex flex-column align-items-center">
        <p class="text-danger">No reservations found.</p>
        <a class="btn btn-light mt-3" href="{% url 'reservation' %}"><strong>Go Back</strong></a>
    </div>
    {% endfor %}
</ul>

<div class="empty-space"></div>
{% endblock %}