@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&family=Jacques+Francois+Shadow&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* GENERAL ELEMENTS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #000;
    color: #fff;    
}

main,
header,
footer {
    padding: 0 5%;
}

.flex-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-space {
    height: 12rem;
    width: 100%;
}

.margin-btm {
    margin-bottom: 10rem;
}

.margin-r {
    margin-right: 1rem;
}

.margin-top {
    margin-top: 2rem;
}

.h2-margin-btm,
.p-margin-btm {
    margin-bottom: 3rem;
}

p {
    margin-bottom: 0;
}

hr {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    opacity: 0.5;
}

.btn-lg-individual {
    padding: 2rem ;
}

/* GENERAL IMG STYLING */

.header-img-container {
    height: 40vh;
    position: relative;
}

.header-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 60%;
    opacity: 0.8;
}

/* HEADER & FOOTER STYLING */
.jacques-francois-regular {
    font-family: "Jacques Francois", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.jacques-francois-shadow-regular {
    font-family: "Jacques Francois Shadow", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    font-style: normal;
}

.nav-link {
    padding: 0.5rem 0;
}
.navbar-text-size {
    font-size: 1.3em;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255);
}

.title-text-size {
    font-size: 1.5em;
    letter-spacing: 0.4em;
}

footer {
    margin-bottom: 2rem;
}

/* MODAL STYLING */
.list-group-item {
    border: none;
}

.modal-header .btn-close {
    margin: 0;
    padding: 0;
}

/** INDEX.HTML STYLING **/

/* CAROUSEL STYLING */

.carousel-image {
    height: 80vh;
    width: 100%;
    object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 3rem;
    width: 3rem;
}

.carousel-control-next,
.carousel-control-prev {
    width: 10%;
    opacity: 1;
}

/* OTHER ELEMENTS */

#restaurant-img-container img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.btn:focus, .btn-close:focus, .btn:active {
    outline: none;
    box-shadow: none;
}

/** ABOUT.HTML **/

.about-buttons {
    height: fit-content;
    width: 30%;
}

.about-hero-container,
.menu-hero-container {
    width: 100%;
    height: 50vh;
    position: relative;
}

#menu-hero-img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 70%;
}

#about-hero-img {
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 0% 90%;
}

#about-chef-container {
    width: 100%;
    height: 50vh;
    position: relative;
    display: flex;
    justify-content: space-around;
}

#about-chef-img {
    max-height: 100%;
    width: 80%;
    object-fit: cover;
    align-self: center;   
    object-position: 0% 100%; 
}

/* FAQ.HTML */
.accordion-flush {
    background-color: #000;
}


/* PSUEDO ELEMENTS */
.accordion-button:focus {
    border-color: transparent;
    box-shadow: none;
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #fff;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.accordion-button:not(.collapsed)::after {
    background-image: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1100px) {
    .mq-index-links-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mq-index-mt {
        margin-top: 5rem;
    }
    .mq-reservation-links {
        width: 50% !important;
    }
}

@media screen and (max-width: 850px) {
    .mq-view-reservation-container {
        display: flex;
        flex-direction: column;
    }
    .mq-view-reservation-width {
        width: 90% !important;
    }
    .mq-view-reservation-buttons {
        margin: 0 0 2rem 0 !important;
    }
}

@media screen and (max-width: 800px) {
    .mq-about-links-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mq-about-links {
        margin-top: 3rem;
        margin-bottom: 3rem;
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    .mq-contact-text-width {
        margin: 0 2rem 0 2rem;
    }
}

@media screen and (max-width: 1000px) {
    .mq-delete-reservation-icon {
        display: none !important;
    }
    .mq-delete-reservation-width {
        width: 90% !important;
    }
}